<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>Edit Staff Details </title>
</head>

<body>
	<div layout:fragment="content" class="row page-edit">
		<div class="row">
			<h2>
				Edit Staff
				
			</h2>
			<form th:action="@{/staff/update}" th:object="${staff}">
				<table class="tbl-form">
					<tr>
						<td>Staff ID</td>
						<td><input readonly type="text" class="form-control" name="staffId" th:value="${obj.staffId}" /></td>
					</tr>
					<tr>
						<td>Staff Name</td>
						<td><input type="text" class="form-control" name="name" th:value="${obj.name}" /></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><textarea class="form-control" name="address" cols="60" rows="3"
								th:text="${obj.address}"></textarea></td>
					</tr>
					<tr>
						<td>Phone</td>
						<td><input type="text" class="form-control" name="phone" th:value="${obj.phone}" /></td>
					</tr>
					<tr>
						<td>Email</td>
						<td><input type="text" class="form-control" name="email" th:value="${obj.email}" /></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>
							<input type="radio" class="form-check-input" name="gender" value="male"
								th:checked="${obj.gender == 'male'}" /> Male
							&nbsp; &nbsp; &nbsp; &nbsp;
							<input type="radio" class="form-check-input" name="gender" value="female"
								th:checked="${obj.gender == 'female'}" /> Female
						</td>
					</tr>
					<tr>
						<td>Salary</td>
						<td><input type="text" class="form-control" name="salary" th:value="${obj.salary}" /></td>
					</tr>
					<tr>
						<td>Staff Type</td>
						<td><input type="text" class="form-control" name="stafftype" th:value="${obj.stafftype}"  readonly/></td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" class="form-control" name="password"  th:value="${obj.password}"/></td>
					</tr>
				</table>
				<input type="hidden" name="id" th:value="${obj.id}" />
				<button type="submit" class="btn btn-success btn-submit">Update</button>
				<a href="/staff/list" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span>
					View Staffs</a>
			</form>
		</div>
	</div>
</body>

</html>