<!DOCTYPE HTML>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="default">

<head>
	<title>Create Staff</title>
</head>

<body>
	<div layout:fragment="content" class="row page-create">
		<div class="row">
			<h2>
				New Staff
				
			</h2>

			<form th:action="@{/staff/save}" th:object="${staff}">
				<table class="tbl-form">
					<tr>
						<td>Staff Name</td>
						<td><input type="text" class="form-control" name="name" /></td>
					</tr>
					<tr>
						<td>Address</td>
						<td><textarea class="form-control" name="address" cols="60" rows="3"></textarea></td>
					</tr>
					<tr>
						<td>Phone</td>
						<td><input type="text" class="form-control" name="phone" /></td>
					</tr>
					<tr>
						<td>Email</td>
						<td><input type="email" class="form-control" name="email" /></td>
					</tr>
					<tr>
						<td>Gender</td>
						<td>
							<input type="radio" class="form-check-input" name="gender" value="male" /> Male
							&nbsp; &nbsp; &nbsp; &nbsp;
							<input type="radio" class="form-check-input" name="gender" value="female" /> Female
						</td>
					</tr>
					<tr>
						<td>Salary</td>
						<td><input type="text" class="form-control" name="salary" /></td>
					</tr>
					<tr>
						<td>Staff Type</td>
						<td><input type="text" class="form-control" name="stafftype" value="Delivery Executive" readonly>
						</td>
					</tr>
					<tr>
						<td>Password</td>
						<td><input type="password" class="form-control" name="password" /></td>
					</tr>
				</table>
				<button type="submit" class="btn btn-success btn-submit">Save</button>
				<a href="/staff/list" class="btn btn-warning"><span class="glyphicon glyphicon-list"></span>
					View StaffS</a>
			</form>
		</div>
	</div>
</body>

</html>